body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
}

h1 {
    text-align: center;
}

#product-list, #cart-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px #ccc;
}

button {
    padding: 10px;
    background: black;
    color: white;
    border: none;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #444;
}
